body
{
 background-color: #2667ff ;
 font-family: Noto Sans JP;
 font-size: 20px;
 color: white ;
    
}




.lista_glowna{
	float: left;
	list-style-type: none;
	margin-top: 15px;
}

.podpunkty_glowne{
	display: inline-block;

}
.podpunkty_glowne_link{
	text-decoration: none;
	color: #fff;
	padding: 5px 15px;
	border: 1px solid transparent;
	transition: 0.8s ease;
}




