*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
  }
body
{
 background-color: #FFFFFF ;
 font-family: Noto Sans JP;
 font-size: 20px;
 color:black ;
    
}
.b{

	height: 100vh;
	background-size: cover;
	background-position: center;	
	
	
}
nav{
	
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		padding: 5px;
		
	 
}

.lista_glowna{
	float: left;
	list-style-type: none;
	position: sticky;
	top: 0;
	padding: 5px;
	
}

.podpunkty_glowne{
	display: inline-block;
	position: sticky;
	top: 0;
	padding: 5px;
	

}
.podpunkty_glowne_link{
	text-decoration: none;
	color: black;
	padding: 5px 15px;
	border: 1px solid transparent;
	transition: 0.8s ease;
	position: sticky;
	top: 0;
	padding: 5px;
	background-color: #FEF277;
		
}




.stopka
{ 	
	box-sizing: border-box;
	font-family: 'Poppin', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color:#ffffff;

	width:100%;
	position: fixed;
	bottom:0;
	right:0 3rem;
	background:#0C1E42;
	display:flex;
	align-items:center;
}
.stopka p
{

	margin: 0 1rem;
	text-decoration:none;
	color:#ffffff;
	padding:1rem .5rem;
}
.pudelko{
    background:#3f7cef;

	margin-left: auto;
	margin-right:auto;


 

}

#baner{
align:center;
	margin-left: auto;
	margin-right:auto;
	position: relative;
    text-align: center;
	
	
	
}
#cat{
position:absolute;
right:0px;
	width:20%;
	height:20%;

}





