*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
  }
body
{
 background-color: #FFFFFF ;
 font-family: Noto Sans JP;
 font-size: 20px;
 color:#000000 ;
    
}
.b{

	height: 100vh;
	background-size: cover;
	background-position: center;	
	

	
	
}

nav
{

	position: sticky;
}
.lista_glowna{
	float: left;
	list-style-type: none;
	margin-top: 15px;
	position: sticky;
}

.podpunkty_glowne{
	display: inline-block;
	position: sticky;

}
.podpunkty_glowne_link{
	text-decoration: none;
	color: #000000;
	padding: 5px 15px;
	border: 1px solid transparent;
	transition: 0.8s ease;
	position: sticky;
	
}



}
.stopa
{ 	
	box-sizing: border-box;
	font-family: 'Poppin', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color:white;

	width:100%;
	position: static;
	bottom:0;
	right:0 3rem;
	background:#0D1D49;
	display:flex;
	align-items:center;
}








